@import 'libs/font';
@import 'libs/bootstrap-reboot.min';
@import 'libs/_bootstrap.min.css';

* {
    font-family: 'ReformaGrotesk';
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/achievements';
@import 'blocks/slider';