@import 'libs/font';
@import 'libs/bootstrap-reboot.min';
@import 'libs/_bootstrap.min.css';

body {
    background: #131313;
}

* {
    box-sizing: border-box;
    font-family: 'ReformaGrotesk';
    margin: 0;
    padding: 0;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/achievements';
@import 'blocks/slider';
@import 'blocks/gurantee';
@import 'blocks/sliderSettings';
@import 'blocks/buttons';
@import 'blocks/services';
@import 'blocks/infoAndSliderBlock';
@import 'blocks/ourwork';