.achievements {
    padding: 180px 0 180px 0;
    background: #131313;
    &__title {
        text-align: start;
    }
    &__text {
        width: 526px;
        margin-top: 60px;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    &__rombs {
        margin-top: 40px;
    }
    &__right {
        display: flex;
    } 
    &__wrapper {
        width: 1290px;
        display: flex;
        justify-content: space-between;
    }
    &__column {
        display: inline-block;
        &:nth-last-child(1) {
            margin-top: 40px;
        }
        &-block {
            box-sizing: border-box;
            width: 318px;
            height: 177px;
            border: 1px solid #898989;
        }
        &-title {
            margin-top: 25px;
            font-weight: 600;
            font-size: 50px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #DB3138;
            span {
                font-size: 24px;
            }
        }
        &-text {
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
            &-mt20px {
                margin-top: 20px;
            }
        }
    }
}