.guarantee {
    position: relative;
    margin-top: 180px;
    &__info {
        margin-right: 134px;
    }
    &__wrapper {
        position: relative;
        display: flex;
        overflow: hidden;
        width: 1300px;
    }
    &__rombs {
        margin-top: 40px;
        justify-content: center;
    }
}