.slider {
    position: relative;
    background: #131313;
    text-align: center;
    &__wrapper {
        width: 1557px;
        height: 420px;
    }
    &__item {
        margin-right: 24px;
        position: relative;
        width: 416px;
        height: 420px;

        &-divider {
            position: absolute;
            padding-top: 20px;
            top: 75%;
            left: 13%;
            width: 366px;
            height: 70px;
            background: #DB3138;

            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    img {
        width: 416px;
        height: 350px;
    }
}

